{% extends 'base.html' %}
{% block title %}All Urls{% endblock %}
{% block content %}
    <br><br>
<h5 class="list-title">All New Urls - Yours is the top one, but click any to see where they take you!</h5>
    <br><br>
<table class="table table-striped">
<th>New Url</th><th>Title (click for more info)</th>

{% for url in object_list %}
    <tr>
        <td><a href="{{ url.original_url }}">http://127.0.0.1:8000/b/{{ url.shortened_url }}</a></td>
        <td><a href="{% url 'detail_view' url.id %}">{{ url.title }}</a> </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
