{% extends 'base.html' %}

{% block content %}

 <ul class="nav nav-pills">
  <li role="presentation"><a href="{% url 'first_view' %}">Home</a></li>
  <li role="presentation" class="active"><a href="{% url 'bookmark_list_view' %}">All New Urls</a></li>
</ul>
    <br><br>
<h1>All New Urls - Click one to see where it takes you!</h1>
    <br><br>
<table class="table table-bordered">
<th>New Url</th><th>Title (click for more info)</th>
{% for url in object_list %}
    <tr>
        <td><a href="{{ url.original_url }}">http://127.0.0.1:8000/b/{{ url.shortened_url }}</a></td>
        <td><a href="{% url 'detail_view' url.id %}">{{ url.title }}</a> </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
