{% extends 'base.html' %}
{% block title %}Detail Page{% endblock %}
{% block content %}

    {% if request.user == object.user %}
    <h3>Details for {{ object.title }}</h3>
<table class="table table-striped">
<th>Original Url</th><th> Time Created: </th>
    <th>Description (if applicable)</th><th>Times Clicked</th>
    <th>User That Created It</th>
<tr id="bottom-row">
  <td>{{ object.original_url }}</td> <td>{{ object.timestamp }}</td><td>{{ object.description }}</td>
    <td>{{ object.click_count}}</td><td>{{ object.user.username }}</td>
</tr>
</table>
<ul class="nav nav-pills">
  <li role="presentation"><a href="{% url 'update_view' object.id %}">Edit</a></li>
</ul>
{% else %}
    <h1>Details for {{ object.title }}</h1>
<table class="table table-striped">
<th>Original Url</th><th> Time Created: </th>
    <th>Description (if applicable)</th><th>Times Clicked</th>
    <th>User That Created It</th>
<tr id="bottom-row">
  <td>{{ object.original_url }}</td> <td>{{ object.timestamp }}</td><td>{{ object.description }}</td>
    <td>{{ object.click_count}}</td><td>{{ object.user.username }}</td>
</tr>
</table>
{% endif %}
{% endblock %}