{% extends 'base.html' %}

{% block content %}

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="{% url 'first_view' %}">Home</a></li>
  <li role="presentation"><a href="{% url 'bookmark_list_view' %}">All New Urls</a></li>
</ul>
    <br><br>
<h1>Enter a url to shorten it to a new secret url!</h1>
<h2>Give it a title and description to remember what it is!</h2>
    <br><br><br>
    <form action="" method="post">
    {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br><br>

{% endblock %}