{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-pills">
  <li role="presentation"><a href="{% url 'first_view' %}">Home</a></li>
  <li role="presentation"><a href="{% url 'bookmark_list_view' %}">All New Urls</a></li>
</ul>
    <br><br>
    <h1>Here's your new url! Click it or copy it into the browser to test it!</h1>
    <br><br>
<table class="table table-bordered">
<th>Title</th><th>Your new Url</th><th>All Urls List</th>
<tr><td>{{ new_url.title }}</td>
<td><a href="{{ new_url.original_url }}">http://127.0.0.1:8000/b/{{ new_url }}</a></td>
<td><a href="{% url 'bookmark_list_view' %}">Click to see all of the new urls</a></td>
</tr>
</table>
    <ul class="nav nav-pills">
  <li role="presentation"><a href="{% url 'first_view' %}">Make Another!</a></li>
</ul>
{% endblock %}